* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 224, 224);
}

h1 {
  text-align: center;
  color: dodgerblue;
}

.wel {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: dodgerblue;
  font-size: 4em;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child-container {
  width: 40%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid dodgerblue;
}

.btn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: none;
}

